.logo{
    width: 200px;
}

.fondo-menu{
    background-color:black;
}

.instagram{
    font-size: 30px;
}

.facebook{
    font-size: 30px;
}

.total{
    background-color: black !important;
    border-color: black !important;
}

.sumar-restar{
    background-color: black;
    color: white;
    border-color: black;
}

.sumar-restar:hover{
    background-color: white;
    color: black;
    border-color: white
}